.container {
  background-color: #333;
  background-repeat: repeat;
  width: 100%;
  min-height: 100dvh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;

  h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #dd6602;
  }
  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fafafa;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    font-weight: 400;
    font-size: 25px;
    height: 60px;
    padding: 0px 20px;
    color: white;
    background-color: #dd6602;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px 0px;

    img {
      width: 80%;
      height: 80%;
    }
  }
  input {
    border-radius: 5px;
    border: 1px solid #dbdfe9;
    height: 60px;
    width: 350px;
    padding: 5px;
    margin: 5px 0px;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    color: #4b5675;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .container {
    h1 {
      font-size: 16px;
    }
    h3 {
      font-size: 10px;
    }
    button,
    input {
      font-size: 10px;
      height: 40px;
      padding: 0px 20px;
      margin: 5px;
    }
  }
}
