<div class="container">
  <h1>welcome to the ultimate shooting game</h1>
  <h1>( う-´)づ︻╦̵̵̿╤── (˚☐˚”)/</h1>
  <h3>try to eliminate your opponent by destroying their character</h3>
  <h3>first player to reach 3 rounds wins is announced the winner</h3>
  <h3>use "arrow" keys to move and "space" key to shoot</h3>
  <div *ngIf="isLandscape; else warning">
    <button (click)="router.navigateByUrl('/arena/friendly')">
      create match
    </button>
    <div class="row">
      <input
        type="text"
        placeholder="Join match by id ..."
        [(ngModel)]="matchId"
      />
      <button
        (click)="
          matchId
            ? router.navigateByUrl('/arena/' + matchId)
            : alert('Enter your friend match code first (^-^) ')
        "
      >
        <img src="arrow.svg" />
      </button>
    </div>
    <button (click)="router.navigateByUrl('/arena/')">random match</button>
  </div>
  <ng-template #warning>
    <h1>please hold your device in landscape mode to enjoy the game ^-^</h1>
  </ng-template>
</div>
