<div class="container">
  <p *ngIf="opponentDisconnected; else arena">Opponent Disconnected !</p>
  <ng-template #arena>
    <div class="loading" *ngIf="loading; else matchFound">
      {{ loadingText }}
    </div>
    <ng-template #matchFound>
      <div class="arena">
        <div class="round">
          <p>{{ "round: " + round }}</p>
        </div>
        <div class="score">
          <p>{{ match.scoreB }}</p>
          &nbsp;-&nbsp;
          <p>{{ match.scoreA }}</p>
        </div>
        <player
          #playerA
          [disableControls]="!!roundWon.length || !!matchWon.length"
          [type]="PlayerType.PLAYER_A"
          [health]="
            playerType === PlayerType.PLAYER_A
              ? myPlayerHealth
              : opponentPlayerHealth
          "
        ></player>
        <player
          #playerB
          [disableControls]="!!roundWon.length || !!matchWon.length"
          [type]="PlayerType.PLAYER_B"
          [health]="
            playerType === PlayerType.PLAYER_B
              ? myPlayerHealth
              : opponentPlayerHealth
          "
        ></player>
        <div class="announcements" *ngIf="roundWon.length || matchWon.length">
          <p>{{ matchWon.length ? matchWon : roundWon }}</p>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
