<div class="container">
  <p *ngIf="opponentDisconnected; else arena">Opponent Disconnected !</p>
  <ng-template #arena>
    <div class="loading" *ngIf="loading; else matchFound">
      {{ loadingText }}
    </div>
    <ng-template #matchFound>
      <div class="arena">
        <div class="round">
          <p>{{ "round: " + round }}</p>
        </div>
        <div class="score">
          <p>{{ match.scoreB }}</p>
          &nbsp;-&nbsp;
          <p>{{ match.scoreA }}</p>
        </div>
        <player
          #playerA
          [disableControls]="!!roundWon.length || !!matchWon.length"
          [type]="PlayerType.PLAYER_A"
          [health]="
            playerType === PlayerType.PLAYER_A
              ? myPlayerHealth
              : opponentPlayerHealth
          "
        ></player>
        <player
          #playerB
          [disableControls]="!!roundWon.length || !!matchWon.length"
          [type]="PlayerType.PLAYER_B"
          [health]="
            playerType === PlayerType.PLAYER_B
              ? myPlayerHealth
              : opponentPlayerHealth
          "
        ></player>
        <div class="announcements" *ngIf="roundWon.length || matchWon.length">
          <p>{{ matchWon.length ? matchWon : roundWon }}</p>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<div
  class="mobile-controls"
  *ngIf="isMobile && !loading && !(roundWon.length || matchWon.length)"
>
  <div class="pad">
    <a></a>
    <a
      class="up"
      name="pad-button"
      (touchstart)="mobileKeyHeld('ArrowUp')"
      (touchend)="mobileKeyReleased('ArrowUp')"
    >
      <img src="arrow.svg"
    /></a>
    <a></a>
    <a
      class="left"
      name="pad-button"
      (touchstart)="mobileKeyHeld('ArrowLeft')"
      (touchend)="mobileKeyReleased('ArrowLeft')"
    >
      <img src="arrow.svg"
    /></a>
    <a></a>
    <a
      class="right"
      name="pad-button"
      (touchstart)="mobileKeyHeld('ArrowRight')"
      (touchend)="mobileKeyReleased('ArrowRight')"
    >
      <img src="arrow.svg"
    /></a>
    <a></a>
    <a
      class="down"
      name="pad-button"
      (touchstart)="mobileKeyHeld('ArrowDown')"
      (touchend)="mobileKeyReleased('ArrowDown')"
    >
      <img src="arrow.svg"
    /></a>
    <a></a>
  </div>
  <div
    class="shoot"
    (touchstart)="mobileKeyHeld(' ')"
    (touchend)="mobileKeyReleased(' ')"
  >
    <img src="shoot.svg" />
  </div>
</div>
